@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img_icons/fundo_arvore.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fdf0ff;
    padding: 30px 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;;
    backdrop-filter: blur(54.5px);
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border: 2px solid rgba(255, 239, 239, 0.406);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fce4ff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fdf0ff;
}

.input-box span {
    position: absolute;
    right: 20px;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fce4ff;
    margin-right: 0.5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fce4ff;
}

.remember-forgot a:hover {
    text-decoration: underline; 
}

.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 20px;
}

.login:hover{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0);
    color: #fff;
    transition: 0.7s;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

.register-link a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
    text-decoration-color: #fce4ff;
}